//Colors

$color-bg-light: #7a25a7;
$color-bg-dark: #031134;
$color-text-light: #b194fc;
$color-text-medium: #e38fdc;
$color-text-dark: #00c8fb;
$color-accent: #0180c5;
$color-white: #fff;
$color-black: #000;
$color-grey: #999;
