//Colors

$color-bg-light: #17e0bc;
$color-bg-dark: #031134;
$color-text-light: #17e0bc;
$color-text-medium: #8300c0;
$color-text-dark: #333;
$color-accent: #fe00ac;
$color-white: #fff;
$color-black: #000;
$color-grey: #999;
