html {
  font-size: 14px;
  background-color: #17e0bc;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sweety Bakery";
  src: url(../des/sweety-bakery.otf) format("opentype");
}
body {
  width: 85%;
  margin: 20px auto;
  font-family: "Sweety Bakery", "Snippet", "Heebo", sans-serif;
  font-size: 2rem;
  line-height: 1.7rem;
  color: #17e0bc;
  background-color: #0e186f;
}

h1 {
  font-family: "Sweety Bakery", cursive;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #fe00ac;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "Snippet", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #8300c0;
}

h3 {
  font-family: "Sweety Bakery", "Snippet", "Heebo", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #17e0bc;
  margin: 50px 0;
}

h4 {
  font-family: "Sweety Bakery", "Heebo", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #8300c0;
}

.content-wrapper {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.header-details {
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.header-text {
  padding: 1.5rem 0;
}

.border {
  border: 2px solid #17e0bc;
  width: 100%;
}

.name-request input {
  width: 90%;
  font-family: "Snippet", cursive;
  color: #8300c0;
  font-size: 1.25rem;
  margin: 20px auto;
  padding: 10px;
  background-color: #17e0bc;
  border: 5px solid #fe00ac;
  border-radius: 70px;
  text-align: center;
}
.name-request .submit-button {
  width: 90%;
  font-family: "Snippet", cursive;
  color: #8300c0;
  font-size: 1.25rem;
  margin: 20px auto;
  padding: 10px;
  background-color: #17e0bc;
  border: 5px solid #fe00ac;
  border-radius: 70px;
  align-items: center;
}
@media screen and (min-width: 1050px) {
  .name-request .submit-button {
    max-width: 780px;
  }
}
.name-request .submit-button:hover {
  background-color: #0e186f;
  color: #17e0bc;
  border: 5px solid #fe00ac;
}

.compliment-view img {
  width: 100%;
  height: auto;
  margin: 20px auto;
}
.compliment-view h3 {
  font-family: "Snippet", cursive;
  font-size: 1.9rem;
  line-height: 2rem;
  margin: 40px 0;
}
.compliment-view span {
  color: #fe00ac;
  text-decoration: underline;
}
.compliment-view .compliment {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.compliment-view .compliment-button {
  width: 90%;
  font-family: "Sweety Bakery", cursive;
  color: #8300c0;
  font-size: 2rem;
  line-height: 2.15rem;
  margin: 40px auto;
  padding: 10px;
  background-color: #17e0bc;
  border: 5px solid #fe00ac;
  border-radius: 70px;
  align-items: center;
}
@media screen and (min-width: 1050px) {
  .compliment-view .compliment-button {
    max-width: 780px;
  }
}
.compliment-view .compliment-button:hover {
  background-color: #0e186f;
  color: #17e0bc;
  border: 5px solid #fe00ac;
}
.compliment-view .quote {
  margin: 40px 0;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #8300c0;
}

.footer {
  margin-top: 40px;
  font-size: 1.5rem;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}