//Work in Progress: Galentine's Compliment Generator
//Work Notes: NA


@import 'variables';
@import 'mixins';


html {
	font-size: 14px;
	background-color: $color-bg-light;
	scroll-behavior: smooth; 
    box-sizing: border-box; 
}

@font-face {
	font-family: 'Sweety Bakery';
	src: url(../des/sweety-bakery.otf) format('opentype');
}

body {
	width: 85%;
	margin: 20px auto;
	font-family: 'Sweety Bakery', 'Snippet', 'Heebo', sans-serif;
	font-size: 2rem;
	line-height: 1.7rem;
	color: $color-text-light;
	background-color: $color-bg-dark;
}

h1 {
    font-family: 'Sweety Bakery', cursive;
    font-size: 4.5rem;
	line-height: 5rem;
    color: $color-accent;
	margin: 0;
	text-align: center;
}

h2 {
	font-family: 'Snippet', sans-serif;
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: $color-text-medium;
}

h3 {
	font-family: 'Sweety Bakery', 'Snippet', 'Heebo', sans-serif;
	font-size: 3rem;
	line-height: 3.5rem;
	color: $color-text-light;
	margin: 50px 0;
}

h4 {
	font-family: 'Sweety Bakery', 'Heebo', sans-serif;			
	font-size: 2.5rem;
	line-height: 3rem;
	color: $color-text-medium;
}

.content-wrapper {
    width: 90%;
	margin: 20px auto;
    text-align: center;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

.header-details {
	margin: 40px auto;
	text-align: center;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

.header-text {
	padding: 1.5rem 0;
}

.border {
	border: 2px solid $color-bg-light;
	width: 100%;
}

.name-request {
	.submit-button {
		width: 90%;
		font-family: 'Sweety Bakery', cursive;
		color: $color-text-medium;
		font-size: 2rem;
		line-height: 2.15rem;
		margin: 40px auto;
		padding: 10px;
		background-color: $color-bg-light;
		border: 5px solid $color-accent;
		border-radius: 70px;
		align-items: center;
		@include media-query(desktop-wide) {
			max-width: 780px;
		}	
		&:hover {
			background-color: $color-bg-dark;
			color: $color-text-light;
			border: 5px solid $color-accent;
		}
	}

}

.compliment-view {
	img {
		width: 100%;
		height: auto;
		margin: 20px auto;
	}
    h3 {
        font-family: 'Snippet', cursive;
		font-size: 1.9rem;
		line-height: 2rem;
		margin: 40px 0;
    }
    span {
        color: $color-accent;
        text-decoration: underline;
    }
	.compliment {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.compliment-button {
		width: 90%;
		font-family: 'Sweety Bakery', cursive;
		color: $color-text-medium;
		font-size: 2rem;
		line-height: 2.15rem;
		margin: 40px auto;
		padding: 10px;
		background-color: $color-bg-light;
		border: 5px solid $color-accent;
		border-radius: 70px;
		align-items: center;
		@include media-query(desktop-wide) {
			max-width: 780px;
		}	
		&:hover {
			background-color: $color-bg-dark;
			color: $color-text-light;
			border: 5px solid $color-accent;
		}
	}
	.quote {
		margin: 40px 0;
		font-size: 2.5rem;
		line-height: 3rem;
		color: $color-text-medium;
	}
}

.footer {
	margin-top: 40px;
	font-size: 1.5rem;
}

@media print {
	*,
	*::before,
	*::after {
		background: $color-white !important;
		color: $color-black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: ' (' attr(href) ')';
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid $color-grey;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
