
html {
	font-size: 14px;
	background-color: #fcd8c0;
	scroll-behavior: smooth; 
    box-sizing: border-box; 
}

@font-face {
	font-family: 'Vanilla Pancake';
	src: url(../des/vanilla-pancake.otf);
}

body {
	font-family: 'Vanilla Pancake', 'Snippet', 'Heebo', sans-serif;
	font-size: 2rem;
	line-height: 1.7rem;
	color: #6f3a28;
}

h1 {
    font-family: 'Vanilla Pancake', cursive;
    font-size: 5rem;
	line-height: 5.5rem;
    color: #3d5c5f;
	margin-bottom: 40px;
}

h2 {
	font-family: 'Heebo', sans-serif;
	font-size: 1.7rem;
	line-height: 2.5rem;
}

br .with-space {
	line-height: 2.5rem;
}

h3 {
	font-family: 'Snippet', sans-serif;
	font-size: 3rem;
	line-height: 3.5rem;
	color: #371e30;
	padding: 1rem 0;
}

h4 {
	font-size: 2.5rem;
	line-height: 3rem;
	color: #3d5c5f;
}

span {
	color: #7d1d3f;
}

.content-wrapper {
    width:85%;
	margin: 40px auto;
    text-align: center;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

header .content-wrapper{
}

.compliment-view {
	margin: 40px;

}

.compliment-button {
	width: 90%;
	padding: 20px;
	border: 5px solid #87a0a5;
	border-radius: 70px;
	align-items: center;

}

.footer {
	margin-top: 40px;
	font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {
	.compliment-button {
		max-width: 780px;
	}

}

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: ' (' attr(href) ')';
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
