
html {
	font-size: 12px;
	background-color: #621d6e;
	scroll-behavior: smooth; 
    box-sizing: border-box; 
}

body {
	font-family: Poppins, Noto Sans, sans-serif;
	font-size: 2rem;
	line-height: 1.7rem;
	color: #7d98cd;
}

h1 {
    font-family: ;
    font-size: 4rem;
	line-height: 4.5rem;
    color: #3d9ad7;
}

h2 {
	font-size: 2rem;
	line-height: 2.5rem;
}

h3 {
	font-size: 3rem;
	line-height: 3.5rem;
	color: #c06b95;
}

h4 {
	font-size: 2.5rem;
	line-height: 3rem;
}

.content-wrapper {
    width:85%;
	margin: 0 auto;
    text-align: center;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

.compliment-view {

}

.compliment-button {
	width: 90%;
	padding: 10px;
	border: 10px solid #d2528f;
	border-radius: 50px;

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {

}

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: ' (' attr(href) ')';
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
